.card {
  width: 100%;
  margin: 0 auto;
  border-radius: 2%;
}
.card-title {
  font-size: large;
  text-align: center;
}
.card-text {
  text-align: justify;
}
.card-text-rating {
text-align: right;
font-weight: bold;
}
.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.btn-ghost:hover {
  opacity: 1;
}

.index-title{
  background-color: rgb(128, 137, 137);
  color: white;
  font-family: monospace;
  text-align: center;
}
