<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVgKKtbJ6TvVD2MxSE7n3iJsWF9gXJDXZWUQ&usqp=CAU" /> Rent-a-Friend
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
          </li>
          <li class="nav-item">
             <%= link_to "Log in", new_user_session_path, class: "Login" %>
             <%= link_to "Sign up", new_user_registration_path, class: "Sign-up" %>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Dashboard</a>
              <a class="dropdown-item" href="#">Friends</a>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
