
<div class="banner" style="https://i0.wp.com/www.weahsn.net/wp-content/uploads/Networking-banner.jpg?ssl=1">
  <div class="container">
    <h1>Rent a friend!</h1>
    <p>Get out of your confort zone and meet new people!</p>
    <a class="btn btn-flat" href= "<%= new_user_registration_path%>" >Get started</a>
  </div>
</div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.smallbusinessact.com/wp-content/uploads/2019/01/SBA-Types-de-contrats-de-travail-2.png">
    Sign up
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/free-vector/people-holding-connected-copy-space-circle-icons_53876-59904.jpg?w=2000)">
    Connect
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn1.vectorstock.com/i/1000x1000/82/00/young-people-having-fun-and-startuping-confetti-vector-13688200.jpg)">
    Have fun
  </div>
</div>
