
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Loggin</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVgKKtbJ6TvVD2MxSE7n3iJsWF9gXJDXZWUQ&usqp=CAU" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%# <a class="dropdown-item" href="#"> </a>
              <a class="dropdown-item" href="#"></a> %>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>



<div class="banner" style="https://i0.wp.com/www.weahsn.net/wp-content/uploads/Networking-banner.jpg?ssl=1">
  <div class="container">
    <h1>Rent a friend! </h1>
    <p>Get out of your confort zone and meet new people!</p>
    <a class="btn btn-flat" href="#">Get started</a>
  </div>
</div>
