
<div class="banner" style="https://i0.wp.com/www.weahsn.net/wp-content/uploads/Networking-banner.jpg?ssl=1">
  <div class="container">
    <h1>Rent a friend! </h1>
    <p>Get out of your confort zone and meet new people!</p>
    <% if current_user  %>
      <a class="btn btn-flat" href= "<%= friends_path%>" >Meet some new people</a>
    <% else %>
      <a class="btn btn-flat" href= "<%= new_user_registration_path%>" >Get started</a>
    <% end %>
  </div>
</div>
