.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #0399FD;
  opacity: 0.8;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #0399FD;
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-light_fa-computer-mouse-scrollwheel {
  color: #D23333;
}

.footer{
  position: sticky;

}
